body {
    background-color: rgb(114, 102, 102);
}
input {
    margin: 40px;
    padding: 10px;
    font-size: 28px;
}
.parent {
    display: flex;
    justify-content: center;
    /* height: 100svh; */
    flex-wrap: wrap;
    width: 100%;
    gap: 22px;
}
.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    border-radius: 15px;
    padding: 20px;
}
.card:hover {
    transform: translate(-5px, -5px);
}
.logo_ {
    width: 100px;
    margin-bottom: 18px;
}
.info {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.bg-even {
    background-color: rgb(31, 169, 172);
}
.bg-odd {
    background-color: rgb(64, 137, 215);
}